{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container content-container">
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">

            <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="contentToServer" placeholder="content to send to server">
                </div>

                <button type="button" onclick="clearData()" class="btn btn-primary">Clear</button>
                <button type="button" onclick="dataToServer(true)" class="btn btn-primary">SEND&RECEIVE(all)</button>
                <button type="button" onclick="dataToServer(false)" class="btn btn-primary">SEND&RECEIVE(me)</button>
                <button type="button" onclick="startDaemon()" class="btn btn-success">START DAEMON</button>
                <button type="button" onclick="stopDaemon()" class="btn btn-danger">STOP DAEMON</button>

              </form>

                <div class="form-group">
                    <textarea readonly class="form-control" id="contentFromServer" cols="50" rows="20" placeholder="content received from server"></textarea>
                  </div>

        </div>
    </div>    
</div>
{% endblock %}