<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Sample</title>
</head>
<body>

<div>
  <input type="text" id="contentToServer" placeholder="content to send to server"> 
  <button onclick="dataToServer()">Send data</button>
  <br>
  <textarea readonly="true" id="contentFromServer" cols="50" rows="20"></textarea>
</div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Websocket connected!');
    });

    socket.on('dataFromServer', function(data) {
        var jStr = JSON.stringify(data);
        var jObj = JSON.parse(jStr);
        console.log(jObj.datetime + ' ' +jObj.field1);
        var oldData = document.getElementById("contentFromServer").value;
        var newData = '(' + jObj.datetime + ') received: ' + jObj.field1;
        document.getElementById("contentFromServer").innerHTML =  oldData + '\n' + newData; 
    });

    function dataToServer() {
      var data = document.getElementById("contentToServer").value;
      socket.emit('dataToServer', {field1: data});
    }
  </script>
</body>
</html>